/* .bookmark {
    position: relative;
    top: 100px;
    width: 0;
    height: 100px;
    border: 50px solid transparent;
    border-bottom: 30px solid rgba(128, 128, 128, 0.1);
    background-color: grey;
    opacity: 0.7;
    border-radius: 20px 20px 1px 1px;

} */

.bookmark {
    position: relative;
    bottom: 432px;
    left: 0px;
    background-color: #242424;
    color: white;
    opacity: 0.7;
    width: 40px;
    height: 50px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 200;

}


.bookmarkChecked {
    background-color: #f5c518;
    opacity: 1;
    border: none;
}

/* .buttonDiv {
    height: 425px;
    width: 210px;
} */

.addWatchlistButton {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}