header {
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchDisplayNone {
    display: none;
}