.mainPage {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding-bottom: 40px;
}

.movieCard {
    margin: 20px;
    margin-bottom: 0;
    background-color: #242424;
    height: 360px;
    border: none;
    border-radius: 6px;


}

img {
    border-radius: 6px;
}



.movieCard:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.7;
    transition: 0.4s;

}

.ratings {
    color: white;
    padding-left: 10px;
    margin-top: 6px;

}

.name {
    color: white;
    padding-left: 10px;
    margin-top: 6px;
}

span {
    font-size: 12px;
}