* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
}


.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;



}

footer {
  height: 16vh;
  width: 100%;
  color: white;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  bottom: 0;
  right: 0; */

}



.scrollUpButton {
  position: fixed;
  top: 30px;
  right: auto;
  left: auto;
  z-index: 50;
  cursor: pointer;
  font-size: 14px;
  width: 125px;
  height: 28px;
  border: none;
  border-radius: 20px;
}

/* fixed bottom-5 right-7 z-50 cursor-pointer p-4 */

.scrollUpImg {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  position: relative;
  top: 1px;
}